body {
  font-family: sans-serif, Arial, Helvetica;
  background: url("./assets/illustration-anime-city.jpg");
  background-size: 115%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}
.add {
  opacity: 85%;
  background-color: gray;
  width: 160px;
  margin: 20px;
  height: 40px;
  border: black 1px solid;
}
